<a class="product-card-link" href="/produto/<%= produto._id %>" rel="" style="border: none; padding: 0;text-decoration: none;">
    <div class="product-card card" data-product-id="<%= produto._id %>">
        <img src="<%= produto.imageUrl %>" alt="" class="card-img-top">
        <div class="card-body">
            <span id="card-rate" data-rate="<%= produto.rate %>">
                <i class="bi bi-star-fill card-rate-star"></i>
                <i class="bi bi-star-fill card-rate-star"></i>
                <i class="bi bi-star-fill card-rate-star"></i>
                <i class="bi bi-star-fill card-rate-star"></i>
                <i class="bi bi-star-half card-rate-star"></i>
            </span>
            <h5 class="card-title font-frank fw-bold text-dark text-capitalize my-3 text-truncate"><%= produto.name %></h5>
            <p class="card-text fs-6">
                <% if(produto.promotion) { %>
                    <span class="text-decoration-line-through text-muted me-3">R$ <%= produto.price %></span>
                    <span class="font-lato fw-bold text-dark">R$ <%= produto.promotion %></span>
                <% } else { %>
                    <span class="font-lato fw-bold text-dark">R$ <%= produto.price %></span>
                <% } %>
            </p>
        </div>
    </div>
</a>