<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Lato&display=swap" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="../slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css" />

    <link rel="stylesheet" href="../styles/bootstrap.css" />
    <!-- <link rel="stylesheet" href="../styles/bootstrap-grid.css" /> -->
    <link rel="stylesheet" href="../styles/mainlanding.css" />
    <link rel="stylesheet" href="../styles/index.css" />

    <script src="../scripts/popper.min.js"></script>
    <script src="../scripts/bootstrap.js"></script>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js" defer></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js" defer></script>
    <script type="text/javascript" src="../slick/slick.min.js" defer></script>

    <script type="text/javascript" src="../scripts/product-card.js" defer></script>
    <script type="text/javascript" src="../scripts/index.js" defer></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />

    <title>Krip Store</title>
</head>

<body>
    <%- include('partials/header', {user}); %>

        <main>
            <section id="section-1">
                <div class="container">
                    <div class="content row">
                        <div id="section-1-text" class="col-lg-6 col-md-12 text-md-left">
                            <h2 class="font-frank fw-bold text-capitalize text-dark">
                                Find the Best Fashion Style for You
                            </h2>
                            <p class="font-lato fw-normal text-dark mt-3 mb-5">
                                Best and biggest web shop for Hip-Hop and Trap lovers! For all the genres and ages!
                            </p>
                            <a href="/produtos"
                                class="btn btn-dark font-lato fw-bolder text-uppercase text-light position-relative">SHOP NOW</a>
                        </div>
                        <img class="col-lg-6 col-md-12 text-center" src="./images/blusa-1.svg" alt="" />
                    </div>
                </div>
            </section>
            <section id="section-2">
                <div class="container">
                    <div class="content row">
                        <h2 class="text-center font-frank text-dark fw-bold text-capitalize">
                            New Collection
                        </h2>
                        <p class="text-center font-lato fw-normal mt-3">
                            Brand New clothes that just got available on the market!
                        </p>
                        <div id="section-2-images" class="row mt-5">
                            <div
                                class="col-xl-4 col-lg-6 col-sm-12 position-relative d-flex flex-collumn align-items-center justify-content-center">
                                <img src="./images/sweater.svg" alt="" />
                                <span
                                    class="font-lato fw-bolder position-absolute bottom-0 start-50 translate-middle d-flex align-items-center justify-content-center">Sweater</span>
                            </div>
                            <div
                                class="col-xl-4 col-lg-6 col-sm-12 position-relative d-flex flex-collumn align-items-center justify-content-center d-flex align-items-center justify-content-center">
                                <img src="./images/long-sleeve.svg" alt="" />
                                <span
                                    class="text-center font-lato fw-bolder position-absolute bottom-0 start-50 translate-middle d-flex align-items-center justify-content-center">Long Sleeve</span>
                            </div>
                            <div
                                class="col-xl-4 col-lg-6 col-sm-12 position-relative d-flex align-items-center justify-content-center">
                                <img src="./images/t-shirt.svg" alt="" />
                                <span
                                    class="font-lato fw-bolder position-absolute bottom-0 start-50 translate-middle d-flex align-items-center justify-content-center">T-Shirt</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-3">
                <div class="container">
                    <div class="content row">
                        <img class="col-lg-6 col-md-12 order-lg-1 order-md-2" src="./images/blusa-2.svg" alt="" />
                        <div id="section-3-text" class="col-lg-6 col-md-12 order-lg-2 order-md-1">
                            <h2 class="font-frank fw-bold text-dark text-capitalize">
                                Best Fashion Since 2020
                            </h2>
                            <p class="font-lato fw-normal text-dark mb-5 mt-3">
                                For TWO years being the most critically acclaimed store 
                                with the best prices and best delivery time. More than one
                                HUNDRED sells and more than one HUNDRED satisfied clients.
                            </p>
                            <div id="section-3-stats" class="row mt-5">
                                <div class="col-4 text-center">
                                    <h3>2014</h3>
                                    <span>Krip Founded</span>
                                </div>
                                <div class="col-4 text-center">
                                    <h3>8900+</h3>
                                    <span>Product Sold</span>
                                </div>
                                <div class="col-4 text-center">
                                    <h3>3105+</h3>
                                    <span>Reviews</span>
                                </div>
                            </div>
                        </div>
                        <div id="section-3-back-retangle" class="position-absolute bottom-0 start-0"></div>
                    </div>
                </div>
            </section>
            <section id="section-4">
                <div class="container">
                    <div class="content row">
                        <div id="section-4-text" class="col-4">
                            <h2 class="font-frank fw-bold text-dark ">
                                Best Seller Product
                            </h2>
                            <p class="font-lato fw-normal text-dark mt-3 mb-5">
                                Most purchased products in the last month
                            </p>
                            <a href="/produtos" class="btn font-lato fw-bold text-uppercase">See MAIS</a>
                        </div>
                        <div id="section-4-carousel-div" class="col-lg-8 col-sm-12 justify-content-center">
                            <div class="justify-content-start align-items-center">
                                <div id="section-4-carousel">
                                    <div class="slick-dots"></div>
                                    <% produtos.forEach((produto, index)=> { %>
                                        <% if(index < 10){ %>
                                            <div class="slick-slide">
                                                <div class="sm-col-6 md-col-4 mx-2 mb-3">
                                                    <%- include('partials/product-card', {produto}) %>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-5">
                <div class="container">
                    <div class="content row">
                        <h2 class="font-frank fw-bold text-dark text-capitalize text-center">
                            Our Products
                        </h2>
                        <ul id="section-5-tabs" class="nav nav-tabs justify-content-center my-5 border-0"
                            role="tablist">
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link font-lato fw-bolder text-dark text-uppercase border-0 fs-5 active"
                                    aria-current="page" id="nav-hot-tab" data-bs-toggle="tab" data-bs-target="#hot"
                                    type="button" role="tab" aria-controls="nav-hot"
                                    aria-selected="true">Populars</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link font-lato fw-bolder text-dark text-uppercase border-0 fs-5"
                                    id="nav-onsale-tab" data-bs-toggle="tab" data-bs-target="#onsale" type="button"
                                    role="tab" aria-controls="nav-onsale" aria-selected="false">Promotions</button>
                            </li>
                        </ul>
                        <div id="section-5-tab-content" class="tab-content">
                            <div class="tab-pane active" id="hot" role="tabpanel" aria-labelledby="nav-hot-tab">
                                <div class="row row-cols-3">
                                    <% produtos.filter(produto=> produto.rate > 4).forEach((produto, index)=> { %>
                                        <% if(index < 6) { %>
                                            <div class="sm-col-6 md-col-4">
                                                <%- include('partials/product-card', {produto}) %>
                                            </div>
                                            <% } %>
                                                <% }) %>
                                </div>
                            </div>
                            <div class="tab-pane" id="onsale" role="tabpanel" aria-labelledby="nav-onsale-tab">
                                <div class="row row-cols-3">
                                    <% produtos.filter((produto)=> produto.promotion !== "").forEach((produto, index)=>
                                        { %>
                                        <% if(index < 6) { %>
                                            <div class="sm-col-6 md-col-4">
                                                <%- include('partials/product-card', {produto}) %>
                                            </div>
                                            <% } %>
                                                <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <section id="section-6">
                <div class="container">
                    <div class="content row p-5">
                        <div id="section-6-text" class="col-md-6 align-self-center">
                            <h2 class="font-frank fw-bold text-dark  my-4">
                                Deal of The Day
                            </h2>
                            <p class="font-lato fw-normal text-dark  my-4">
                                Unique oportunity to acquire a product at the lowest price possible
                            </p>
                            <div id="section-6-time" class="row justify-content-start text-center my-4">
                                <div class="col-3 py-3">
                                    <h3 class="font-lato fw-bold text-dark text-capitalize">
                                        08
                                    </h3>
                                    <span class="font">Days</span>
                                </div>
                                <div class="col-3 py-3">
                                    <h3 class="font-lato fw-bold text-dark text-capitalize">
                                        09
                                    </h3>
                                    <span class="font-lato fw-normal text-dark text-capitalize">Hours</span>
                                </div>
                                <div class="col-3 py-3">
                                    <h3 class="font-lato fw-bold text-dark text-capitalize">
                                        14
                                    </h3>
                                    <span class="font-lato fw-normal text-dark text-capitalize">Min</span>
                                </div>
                            </div>
                            <a href="/produto/<%= produtos[Math.floor(Math.random() * produtos.length)]._id %>"
                                class="btn font-lato fw-bolder text-light text-uppercase my-4">Shop Now</a>
                        </div>
                        <img class="col-md-6" src="./images/blusa-1.svg" alt="" />
                    </div>
                </div>
            </section>
            <section id="section-7">
                <div class="container-fluid">
                    <div class="content row text-center">
                        <div id="section-7-text">
                            <h2 class="font-frank fw-bold text-dark ">
                                What People Say About Us
                            </h2>
                            <p class="font-lato fw-normal text-dark ">
                                Clients and collaborators feedback
                            </p>
                        </div>
                        <div id="section-7-carousel-div">
                            <div class="row justify-content-center">
                                <div id="section-7-carousel" class="">
                                    <div class="slick-dots"></div>
                                    <% for(x=0;x<5;x++) { %>
                                        <div class="col-5">
                                            <div class="card comment-card">
                                                <div class="card-body">
                                                    <h4 class="card-title font-lato fw-bolder text-dark">Comfortable and
                                                        met all my expectations! I ordered a medium and it fits perfectly.
                                                    </h4>
                                                    <p class="card-text font-lato fw-bolder text-dark">It was the first time I have
                                                        nothing to complaing about a online purchase. The product have promised quality
                                                       and already was in my house about fours days after I bought it! Just gotta a favorite 
                                                       store! LOVE it! </p>
                                                </div>
                                                <div class="card-footer bg-transparent">
                                                    <img class="img-thumbnail rounded-circle" src="./images/empty.svg"
                                                        alt="" width="76" height="76">
                                                    <h5
                                                        class="comment-username font-lato fw-bold text-dark text-capitalize">
                                                        Anisa Zahra</h5>
                                                    <h6
                                                        class="comment-user-title font-lato fw-bold text-muted text-capitalize">
                                                        Founder milenial</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="card comment-card">
                                                <div class="card-body">
                                                    <h4 class="card-title font-lato fw-bolder text-dark">It's just
                                                        amazing! All the clothes seems refined and good to EVERY occasion
                                                        AT-THE-SAME-TIME!
                                                    </h4>
                                                    <p class="card-text font-lato fw-bolder text-dark">In all my years working with
                                                        design that's definitly the one of few times that I wished I was part 
                                                    of such marvelous projects!</p>
                                                </div>
                                                <div class="card-footer bg-transparent">
                                                    <img class="img-thumbnail rounded-circle" src="./images/empty.svg"
                                                        alt="" width="76" height="76">
                                                    <h5
                                                        class="comment-username font-lato fw-bold text-dark text-capitalize">
                                                        Anonymous
                                                    </h5>
                                                    <h6
                                                        class="comment-user-title font-lato fw-bold text-muted text-capitalize">
                                                        Stylist</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include('partials/footer', {user}); %>

</body>

</html>