<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="../styles/main.css" />
  <link rel="stylesheet" href="../styles/header.css" />
  <link rel="stylesheet" href="../styles/navbar.css" />
  <link rel="stylesheet" href="../styles/footer.css" />
  <link rel="stylesheet" href="../styles/login.css" />

  <title>Recuperar senha</title>
</head>

<body>
  <div id="header-navbar">
    <%- include('partials/header', {}); %>
      <%- include('partials/navbar', {}); %>
  </div>

  <main>
    <div class="content" id="main">
      <form action="/newpassword" method="post">
        <h1>
          <%= log %>
        </h1>
        <input type="hidden" name="email" value="<%- email %>" />
        <input type="hidden" name="uid" value="<%- uid %>" />
        <input type="password" name="password" id="passwordInput" placeholder="Nova senha" />
        <input type="password" name="confirmPassword" id="newPasswordInput" placeholder="Confirmar senha" />
        <input type="submit" value="ALTERAR SENHA" />
      </form>
    </div>
  </main>

  <%- include('partials/footer', {}); %>

</body>

</html>