<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Lato&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../styles/bootstrap.css" />
    <link rel="stylesheet" href="../styles/bootstrap-grid.css" />
    <link rel="stylesheet" href="../styles/mainlanding.css" />
    <link rel="stylesheet" href="../styles/login.css" />

    <script src="../scripts/popper.min.js"></script>
    <script src="../scripts/bootstrap.js" defer></script>

    <title>Recuperar senha</title>
  </head>

  <body>
    <%- include('partials/header', {user}); %>

    <main>
      <div class="content" id="main">
        <form action="/newpassword" method="post">
          <h2><%= log %></h2>

          <div class="form-inputs">
            <input type="hidden" name="email" value="<%- email %>" />
            <input type="hidden" name="uid" value="<%- uid %>" />
            <input
              type="password"
              name="password"
              id="passwordInput"
              placeholder="Nova senha"
            />
            <input
              type="password"
              name="confirmPassword"
              id="newPasswordInput"
              placeholder="Confirmar senha"
            />
          </div>

          <div class="form-options">
            <input type="submit" value="Alterar senha" />
          </div>
        </form>
      </div>
    </main>

    <%- include('partials/footer', {}); %>
  </body>
</html>
