<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Lato&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="../styles/bootstrap.css" />
    <link rel="stylesheet" href="../styles/bootstrap-grid.css" />
    <link rel="stylesheet" href="../styles/mainlanding.css" />
    <link rel="stylesheet" href="../styles/form.css" />

    <script src="../scripts/popper.min.js"></script>
    <script src="../scripts/bootstrap.js" defer></script>

    <title>Recover Password</title>
</head>

<body>
    <%- include('partials/header', {user}); %>

        <main>
            <div class="content" id="main">
                <form action="/recover" method="post">
                    <h2>
                        <%= log %>
                    </h2>
                    <input type="<%- emailTypeRecover %>" name="email" id="emailInput" placeholder="Email" required />
                    <div class="form-options">
                        <input type="<%- submitTypeRecover %>" id="login-button" value="Send" />
                    </div>
                </form>
            </div>
        </main>

        <%- include('partials/footer', {}); %>

            <script>
                /*
                  document.querySelector('#logo').addEventListener('click', e => {
                      console.log('Indo para index.html')
                  })
                  */
                /*
                  document.querySelector('form').addEventListener('submit', e => {
                      console.log('Submit')
                      e.preventDefault()
                  })
                  */
            </script>
</body>

</html>